@font-face {
    font-family: MyFont; /* chosen name font*/ 
    src:url(Straw\ Milky.otf); /*link of url of font file */ 
  }
  
html {
    height: 100%;
    width: 100%;
}

body {
   /* font-family:'Arial, sans-serif'; */ 
    font-family: MyFont; /* prints out font on h1 */ 
    background-image: url('MilkyWayImage.jpg');
    color:#d6b983; /* use of hexadecimal colors */ 
    align-items: center; 
}

p {
    font-size: 18px; 
    line-height: 1.6; 
    text-align: justifty; /* text align even */
    padding: 20px; 
}

.top-right-button {
    position: absolute; 
    top: 20px;
    right: 20px;
    background-color: #d6b983; /* use of hexadecimal colors */ 
    color: #040404; 
    padding: 10px 15px; /* space between */
    font-size: 14px;  
    border-radius: 5px; 
}

.image-button { 
    display: inline-block; 
    background-color: #d6b983;
    color: white; 
    font-size: 16px; 
    padding: 12px 18px; 
    margin: 10px; 
    border-radius:8px; 
    text-decoration: none;
    font-weight: bold; 
    transition: 0.3s; 
}

content {
    display: none; 
    margin-top: 100px; 
}

.content:target {
    display: block; 
}

.content img {
    text-align: center; 
    width: 400%; 
    max-width: 800px; 
    height: auto; 
}

.gardening {
    display: none; 
    margin-top: 100px; 
}

.gardening:target {
    display: block; 
}

.gardening img {
    text-align: center; 
    width: 400%; 
    max-width: 800px; 
    height: auto; 
}
